includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 8
    ignoreErrors:
        - identifier: property.notFound
          path: app/Http/Resources/
        - identifier: missingType.iterableValue
          path: app/Http/Resources/
        - identifier: missingType.generics
          path: app/Http/Resources/
        - identifier: missingType.iterableValue
          path: app/Http/Requests/
        - identifier: missingType.generics
          path: app/Models/
        - identifier: missingType.iterableValue
          path: app/Repositories/
        - identifier: missingType.generics
          path: app/Repositories/
