includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    ignoreErrors:
        - identifier: property.notFound
          path: app/Http/Resources/
