includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: max
    ignoreErrors:
        - identifier: property.notFound
          path: app/Http/Resources/
        - identifier: missingType.iterableValue
          path: app/Http/Resources/
        - identifier: missingType.generics
          path: app/Http/Resources/
        - identifier: missingType.iterableValue
          path: app/Http/Requests/
        - identifier: missingType.generics
          path: app/Models/
        - identifier: missingType.iterableValue
          path: app/Repositories/
        - identifier: missingType.generics
          path: app/Repositories/
        - identifier: method.nonObject
          path: app/Http/Resources/
        - identifier: cast.int
          path: app/Http/Resources/
        - identifier: binaryOp.invalid
          path: app/Http/Resources/
        - identifier: argument.type
          path: app/Repositories/Eloquent/BaseRepository.php
