name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: sqlite3, pdo_sqlite
          coverage: none

      - run: composer install --prefer-dist --no-progress --no-interaction

      - run: cp .env.example .env

      - run: php artisan key:generate

      - run: ./vendor/bin/pint --test

      - run: ./vendor/bin/phpstan analyse --no-progress

      - run: php artisan test
